In [1]:
import pandas as pd
import re
import os
import psycopg2 as sql
from datetime import datetime as dt

In [2]:
ad_path = "D:\Program Files (x86)\World of Warcraft\_classic_\Interface\AddOns\TradeSkillMaster_AppHelper\AppData.lua"

In [4]:
last_modified = os.path.getmtime(ad_path)
last_modified = dt.fromtimestamp(last_modified)
print(last_modified)

2019-10-10 13:59:57

In [55]:
def cleanAppData(path):
    data_dir = os.path.dirname(path)
    
    # Find all conflicted AppData files
    data_files = os.listdir(data_dir)
    appdata_list = []
    for file in data_files:
        if re.match('AppData', file) is not None:
            appdata_list.append(file)
    
    # Find the most recent AppData file
    recmod = ''
    recmod_time = dt.min
    for file in appdata_list:
        file_ts = dt.fromtimestamp(os.path.getmtime(data_dir + '\\' + file))
        if file_ts > recmod_time:
            recmod_time = file_ts
            recmod = file
    
    # Move all AppData files that are not the most recent
    for file in appdata_list:
        if file != recmod:
            os.remove(data_dir + '\\' + file)
    
    # Rename the most recent AppData file to AppData.lua
    os.rename(data_dir + '\\' + recmod, data_dir + '\\AppData.lua')
    
    return

cleanAppData(data_path)

['AppData.lua']

In [5]:
def loadState():
    # If AppData path is saved, read file. If not, set earliest possible date
    ad_path = ''
    try: 
        with open('bin/adp.bin', 'rb') as file:
            ad_path_byte = file.read()
        ad_path = ad_path_byte.decode()
    except FileNotFoundError as e:        
        while ad_path == '':
            print('Please copy and paste World of Warcraft folder path in the format "<path to wow folder>/World of Warcraft"')
            ad_path = input('Path: ')

            # If extra directories to path are added 
            try:
                ad_path = re.search('(.*?)World of Warcraft', ad_path).group()
            except NoneTypeError as e:
                ad_path = ''
                continue
                

            if not os.path.exists(ad_path):
                ad_path = ''
                print('Directory does not exist. Unable to locate World of Warcraft folder.')
                continue
                
            ad_path += '\\_classic_\\Interface\\AddOns\\TradeSkillMaster_AppHelper'
            if not os.path.exists(ad_path):
                ad_path = ''
                raise FileNotFoundError("""
                Unable to locate TradeSkillMaster_AppHelper.
                Please download TradeSkillMaster_AppHelper at https://www.tradeskillmaster.com/install
                """)
            
            ad_path += '\\AppData.lua'
            if not os.path.isfile(ad_path):
                ad_path = ''
                raise FileNotFoundError('Unable to access data. Please reinstall TradeSkillMaster_AppHelper.')
                
    
    try: 
        with open('bin/lfm.bin', 'rb') as file:
            lst_mod_byte = file.read()
        lst_mod = dt.strptime(lst_mod_byte.decode(), '%Y-%m-%d %H:%M:%S.%f')
    except FileNotFoundError as e:     
        lst_mod = dt.min
        
        
    return ad_path, lst_mod

ad_path, lst_mod = loadState()
print(lst_mod)
print(ad_path)

2019-10-08 14:54:43
/home/ne3ko93/Games/world-of-warcraft-classic/drive_c/Program Files (x86)/World of Warcraft/_classic_/Interface/AddOns/TradeSkillMaster_AppHelper/AppData.lua

In [5]:
def parseAppData(path):
    with open(path, "r") as file:
        script = file.readlines()

    # Data we need is in the first line of the Interface\AddOns\TradeSkillMaster_AppHelper\AppData.lua file
    data_string = script[0]

    # Extract scan time from script
    scan_time = re.search('downloadTime=[0-9]+', data_string).group()
    scan_time = int(re.search('[0-9]+',scan_time).group())
    scan_time = dt.fromtimestamp(scan_time)
    
    # Extract columns from script
    col = re.search('fields={(.*?)}', data_string).group()
    col = re.search('{(.*?)}', col).group()
    col = re.sub('[{}"]','', col)
    col = col.split(',')
    col.append('scanTime')

    # Extract data from script
    data = re.search('data={(.*?)}}', data_string).group()
    data = re.search('{{(.*?)}}', data).group()
    data = re.sub('[{}]{2}','', data)
    data = data.split('},{')

    # Append data to dataframe
    df = pd.DataFrame(columns=col)
    for d_string in data:
        row = d_string.split(',')
        row.append(scan_time)
        df.loc[len(df)] = row
    
    # Convert all columns to dtype int (except scan time)
    for c in col:
        if c != 'scanTime':
            df[c] = df[c].astype(int)
            
    return df

df = parseAppData(ad_path)
df.head()

,itemString,marketValue,minBuyout,historical,numAuctions,scanTime
0,7757,85949,43599,101622,4,2019-10-10 13:10:55
1,14835,47845,0,322371,0,2019-10-10 13:10:55
2,3355,511,825,501,21,2019-10-10 13:10:55
3,2836,641,248,460,81,2019-10-10 13:10:55
4,15967,1405631,0,986540,0,2019-10-10 13:10:55

In [6]:
def mergeNewData(new_data):
    # If you do not have any stored data, create new file
    try:
        old_data = pd.read_csv('data/auction_data.csv')
    except FileNotFoundError as e:
        new_data.to_csv('data/auction_data.csv', index=False)
        return
    
    
    # If parsed data is the most recent, append to old data and store
    recent_scan = max(pd.to_datetime(old_data.scanTime))
    if max(new_data.scanTime) > recent_scan:
        data = new_data.append(old_data)
        data.to_csv('data/auction_data.csv', index=False)
    
    return

mergeNewData(df)

In [47]:
def saveState(lst_mod, ad_path):
    # Convert date to binary
    lst_mod_byte = lst_mod.strftime('%Y-%m-%d %H:%M:%S.%f').encode('utf-8')
    with open('bin/lfm.bin', 'wb') as file:
        file.write(bytearray(lst_mod_byte))
    
    ad_path_byte = ad_path.encode('utf-8')
    with open('bin/adp.bin', 'wb') as file:
        file.write(bytearray(ad_path_byte))
    
    return

saveState(last_modified, data_path)

In [56]:
import time

time.sleep(1)

In [8]:
def insertNewData(df, db='postgres', usr='njalexander93', pw='B2BzvRA63XB6JzuT99k2', host='wowaucdb.cvw2xhoownbe.us-east-2.rds.amazonaws.com', port='5432'):
    print("Attempting to connect to host {0}".format(host))
    try:
        conn = sql.connect(dbname=db, user=usr, password=pw, host=host, port=port)
    except:
        print('Unable to reach host {0}'.format(host))
        return
    print("Connection Successful!")
    cur = conn.cursor()
    
    with open('sqlscripts/rec_scantime.sql') as file:
        script = file.read()
    cur.execute(script)
    max_time = cur.fetchall()[0]
    max_time = max_time[0]
    
    scan_time = max(df.scanTime.tolist())
    if scan_time >= max_time:
    
        col_string = ""
        for col in df.columns.tolist():
            col_string += col + ", "
        col_string = col_string[:-2]

        data_string = ""
        for i in range(len(df)):
            data_string += '('
            for j in range(len(df.columns)):
                if j == len(df.columns) - 1:
                    data_string += "to_timestamp('{0}','YYYY-MM-DD HH24:MI:SS')".format(df.iloc[i,j]) + "),\n"
                else: 
                    data_string += str(df.iloc[i,j]) + ', '
        data_string = data_string[:-2]


        with open('sqlscripts/insert_data.sql') as file:
            script = file.read().format(col_string, data_string)
        try:
#             cur.execute(script)
            print(script)
        except:
            print("Unable to insert new data.")
            return
    else:
        print("No new data to insert.")
        
    conn.close()
    return

insertNewData(df)

Attempting to connect to host wowaucdb.cvw2xhoownbe.us-east-2.rds.amazonaws.com
Connection Successful!
INSERT INTO auc_hist(itemString, marketValue, minBuyout, historical, numAuctions, scanTime)
VALUES
    (7757, 85949, 43599, 101622, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14835, 47845, 0, 322371, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3355, 511, 825, 501, 21, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2836, 641, 248, 460, 81, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(15967, 1405631, 0, 986540, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5640, 464, 565, 1123, 7, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13093, 37529, 0, 34197, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(10328, 281795, 249999, 448846, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14604, 13816, 14624, 14358, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(7676, 3210, 3089, 1926, 23, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13758, 50, 36, 57, 23, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2961, 1011, 0, 723, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2730, 1047, 775, 848, 26, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(15737, 18996, 0, 17813, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2982, 1314, 695, 918, 7, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13109, 120769, 109930, 111700, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5071, 2925, 5000, 15099, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4049, 1908, 1500, 2221, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4594, 32, 32, 46, 6, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1423, 1162, 0, 1293, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14344, 27185, 27999, 31428, 69, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13088, 49678, 39401, 56236, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2672, 91, 44, 162, 14, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4593, 23, 18, 38, 5, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4371, 655, 1199, 535, 38, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13111, 39153, 20000, 70344, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6370, 1137, 787, 936, 13, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(11207, 14197, 6500, 21826, 13, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13127, 86143, 90000, 48463, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(7989, 19254, 25813, 74476, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(10009, 27441, 28225, 30875, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(9761, 2842, 5000, 1052, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6433, 9190, 8775, 16570, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6338, 1514, 996, 1325, 14, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(8494, 4146931, 4999999, 5975202, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3664, 303, 297, 389, 5, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(7734, 265938, 99500, 354926, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14826, 17872, 10000, 14661, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4396, 53888, 0, 92603, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2577, 708, 493, 1129, 17, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3652, 939, 0, 830, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(7391, 18438, 20421, 27474, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(15416, 6739, 4680, 6068, 31, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3849, 34881, 11400, 40104, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(12999, 10285, 7800, 8683, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(12633, 961083, 903428, 1292810, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3800, 3204, 0, 3204, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13759, 1827, 1499, 2029, 16, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(12655, 38729, 32987, 26765, 21, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(18744, 102896, 0, 117655, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6290, 17, 17, 13, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(10421, 299, 0, 332, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(10305, 1317, 800, 2278, 20, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(12976, 172816, 189999, 55532, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3227, 6975, 0, 7515, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1369, 1001, 0, 1248, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2313, 563, 799, 441, 37, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1708, 148, 84, 886, 8, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1448, 2395, 3670, 1458, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(17682, 10040, 9899, 12873, 10, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4735, 6542, 4500, 7254, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5002, 16242, 0, 18822, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6709, 4833, 4875, 13313, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(920, 4715, 0, 4224, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1943, 1850, 2000, 1528, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5774, 3951, 3300, 2792, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3827, 562, 375, 671, 15, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14421, 8919, 7499, 11510, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13442, 13919, 15000, 10861, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(16736, 122944, 118699, 229812, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(8274, 24845, 0, 39092, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4480, 2660, 1550, 3850, 33, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2798, 171, 43, 134, 13, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(12259, 27208, 0, 29930, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1726, 35259, 40000, 24979, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(8165, 571, 515, 651, 81, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6047, 18047, 14996, 25676, 7, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(7552, 21620, 10725, 17111, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5752, 43855, 20000, 8776, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5134, 148, 250, 113, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1936, 3626, 2000, 2566, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(7964, 744, 800, 803, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13099, 19741, 13019, 12380, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(8319, 28174, 0, 27770, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2966, 1246, 0, 1374, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5468, 692, 0, 1086, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6519, 1819, 0, 2168, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13067, 379859, 550000, 469029, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3288, 25885, 39999, 2163, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4699, 1812, 1788, 1132, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6533, 457, 432, 514, 29, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14155, 263388, 0, 294202, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3315, 31589, 2020, 96718, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(18611, 8920, 6173, 23045, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13499, 245886, 229900, 493670, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2857, 1050, 594, 714, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6179, 3234, 3412, 1610, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13065, 145980, 99500, 202083, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2324, 2956, 1948, 393, 9, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(18781, 29711, 19800, 75943, 5, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4478, 114429, 0, 209849, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14634, 19092, 12499, 23467, 5, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(24222, 324030, 380053, 508489, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5095, 9, 0, 13, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(21072, 616, 1000, 145, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(8206, 38270, 45199, 32476, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(7450, 12854, 3100, 2677, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6037, 1816, 1650, 2763, 41, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1481, 35894, 0, 39653, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(8176, 8095, 6600, 6336, 12, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(16716, 95555, 100000, 173448, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(7960, 224435, 199999, 266528, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1812, 931, 925, 894, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2620, 48487, 40000, 48927, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(8289, 35745, 29900, 35718, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2815, 53373, 40000, 59836, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4091, 317982, 395000, 172284, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14420, 9375, 6800, 7850, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4731, 14251, 6800, 8231, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4366, 3743, 2500, 1475, 5, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(11202, 13630, 10000, 5526, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(16051, 171287, 120000, 363119, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(11754, 259, 830, 66, 40, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1297, 38640, 63323, 17571, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(11081, 4997, 2700, 2038, 6, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(7280, 2463, 0, 1580, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4356, 312227, 306969, 628774, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14426, 5206, 0, 6246, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(943, 6076305, 4500000, 5951153, 5, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(12433, 9308, 3900, 15655, 16, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(10307, 2657, 2297, 9152, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4721, 5199, 5000, 5692, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(892, 12391, 0, 11453, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2911, 102164, 0, 82504, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(18782, 16662, 10200, 51493, 8, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13054, 51888, 49600, 49577, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(8113, 36703, 48157, 38815, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2267, 1320, 1143, 1302, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(8288, 32365, 0, 49584, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6325, 1712, 1294, 1462, 5, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4446, 166324, 0, 180759, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(811, 2450398, 2700653, 1301363, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1982, 1321182, 300000, 510917, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2409, 838, 486, 1042, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(16052, 120840, 105663, 458818, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13309, 6136, 10252, 2212, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6510, 4017, 0, 851, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13486, 1287527, 0, 2021936, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(9312, 234, 632, 246, 5, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(8181, 1560, 0, 477, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4426, 1879, 1481, 1336, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6039, 30025, 29960, 15827, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(10450, 760, 594, 975, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3489, 2445, 0, 2113, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(10028, 40277, 35700, 46765, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5254, 12266, 6000, 3297, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(15740, 79482, 320000, 8707, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4352, 3734, 4999, 1954, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2100, 1198232, 999999, 1257528, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4042, 5850, 7999, 3397, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(20498, 2132, 1618, 2490, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(7046, 6929, 9500, 1907, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2700, 5160, 5434, 2573, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(12239, 19836, 23398, 16979, 5, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3419, 9126, 1500, 7510, 12, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13122, 209512, 286051, 187171, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(12425, 22747, 15000, 32467, 7, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(8154, 777, 815, 878, 64, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(10398, 15090, 7313, 40119, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6368, 4483, 9899, 2270, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(18984, 149900, 0, 149900, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5971, 9593, 0, 22345, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6416, 4034, 4100, 3852, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(10372, 43048, 38024, 58770, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4062, 12786, 16732, 19589, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14747, 5920, 0, 5988, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14136, 1292589, 0, 1411620, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(13052, 994918, 1500000, 997989, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(6731, 5335, 4298, 4006, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3308, 2051, 0, 3753, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(10726, 122417, 250000, 106074, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2564, 47918, 53500, 53432, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5183, 31248, 30000, 52324, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(8488, 5062, 0, 12314, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(10055, 38434, 28898, 28073, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4259, 4334, 5802, 5497, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14551, 3780980, 5000000, 4625718, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2578, 1108, 0, 982, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(44, 1598, 0, 18189, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(11382, 201100, 358999, 179956, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14770, 10645, 0, 10320, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3645, 2217, 0, 1945, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(21071, 188, 200, 248, 12, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(7909, 2905, 1800, 2800, 37, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2235, 4521, 0, 12367, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4601, 382, 0, 759, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(11204, 10796, 8900, 10907, 5, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5974, 2211, 2000, 1803, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4639, 12680, 39905, 3131, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3685, 159, 98, 138, 72, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5373, 3277, 2851, 4884, 10, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(11078, 3903, 2900, 3827, 43, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(7278, 444, 650, 112, 6, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(3385, 86, 56, 112, 69, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(15846, 75673, 59999, 86444, 5, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4314, 662, 400, 530, 28, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(5765, 4615, 4599, 7081, 6, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4463, 3067, 0, 3769, 0, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(12839, 99745, 79500, 181354, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(14403, 4865, 5240, 6209, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1714, 63325, 60000, 100262, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(8390, 4851, 5000, 4388, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(4066, 7451, 6813, 6061, 1, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1443, 1249007, 1057500, 2250401, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(1686, 1543, 2099, 1915, 4, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2164, 478248, 440000, 587973, 2, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),
(2958, 4499, 4000, 765, 3, to_timestamp('2019-10-10 13:10:55','YYYY-MM-DD HH24:MI:SS')),